/* Import Font */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(236, 231, 231, 0.7), rgba(160, 150, 150, 0.7)), url("lams.jpeg");
    background-position: center;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;

}

html,
body {
    display: grid;
    height: 650px;
    width: calc(center);
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: linear-gradient(white);


}

.wrapper {
    display: inline-flex;
    list-style: none;
    margin-top: -300px;

}

.wrapper .icon {
    position: relative;
    background: rgb(9, 9, 9);
    border-radius: 50%;
    padding: 15px;
    margin: 50px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px black(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.wrapper .name {
    position: absolute;
    font: 0;
    font-size: 14px;
    background: white;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px black(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.wrapper .name::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: white;
    bottom: -3px;
    left: 50px;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.wrapper .icon:hover .name {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.wrapper .icon:hover span,
.wrapper .icon:hover .name {
    text-shadow: 0px -1px 0px black(0, 0, 0, 0.1);

}

.wrapper .facebook:hover,
.wrapper .facebook:hover .name,
.wrapper .facebook:hover .name::before {
    background: rgb(8, 47, 165);
    color: white;
}



.wrapper .google:hover,
.wrapper .google:hover .name,
.wrapper .google:hover .name::before {
    background: rgb(13, 13, 184);
    color: white;
}

.wrapper .skype:hover,
.wrapper .skype:hover .name,
.wrapper .skype:hover .name::before {
    background: rgb(17, 17, 17);
    color: white;
}


.wrapper .instagram:hover,
.name::before {
    background: #d6249f;
    color: white;

}

.wrapper .instagram:hover .name {
    background: rgb(221, 20, 114);
    color: radial-gradient(center at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%,
        );
}

.wrapper .skype:hover,
.wrapper .skype:hover .name,
.wrapper .skype:hover .name::before {
    background: black;
    color: white;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .name,
.wrapper .youtube:hover .name::before {
    background: red;
    color: white;
}

h1{
    background: #776a69;
    border-radius: 20px;
}

button{
    display: flexbox;
    background: transparent;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
button a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}


